/* http://meyerweb.com/eric/tools/css/reset/ v2.0b1 | 201101 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } /* remember to define visible focus styles!  :focus { outline: ?????; } */ /* remember to highlight inserts somehow! */ ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

@font-face {
    font-family: IBM;
    src: url('../font/PxPlus_IBM_CGA.ttf');
}

html {
	font-size: 10px;
}

body {
	background: #000;
}

body * {
	font-family: IBM;
}

h1, h2, p {
	text-align: center;
	color: white;
}

span {
    color: #555;
}

h1 {
	font-size: 7.2rem;
	margin-top: 14rem;
    font-weight: bold;
}

h2 {
	font-size: 7.2rem;
	margin-top: 7rem;
    font-weight: bold;
}

p {
    font-size: 2.8rem;
    margin-top: 7rem;
}

a {
	color: #ccc;
	text-decoration: none;
}

a:hover {
	text-shadow: 2px 2px #555;
}

#wrapper {
    width: 640px;
    height: 640px;
    margin-top: 1.2rem;
    margin: 0 auto;
    /*border: 2px solid #aaa;*/
    background: #005;
}

canvas {
    display: block;
}

/* menu stuff */

.hidden { display: none }

.over {
    /* set to canvas size */
    width: 640px;
    height: 640px;
    overflow: hidden;
    position: fixed;
    top: 0;
    color: #fff;
    background: #00000099;
}

#levels {
    margin-top: 174px;
    display: flex;
    justify-content: space-evenly;
}

#press-start { background: url(/img/press-start.svg) no-repeat; }
#stage-select { background: url(/img/wall.svg) no-repeat; }
#game-over { background: url(/img/game-over.svg) no-repeat; }
#victory { background: url(/img/victory.svg) no-repeat; }
#clear { background: url(/img/clear.svg) no-repeat; }

#stage-select p {
    margin-bottom: 2rem;
}

#levels button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
}

.done { position: absolute; }

button:focus {
    outline: none;
    filter: drop-shadow(0 0 0.75rem orange);
}
